@media (min-width: 320px) and (max-width: 990px) {

    .titleMenu {
        display: none;
    }

    .btnResponsiveMenu i {
        font-size: 3rem;
    }

    .aboutContainer {
        flex-direction: column;
        margin-top: 5rem;
        text-align: center;
    }

    .aboutContainer .textAbout p {
        width: 100%;
        text-align: justify;
    }

    .imgAbout {
        margin-top: 5rem;
    }

    .aboutContainer .imgAbout img {
        width: 28rem;
    }

    .techniquesContainer {
        text-align: center;
    }

    .techniquesContainer .techs h1 {
        font-size: 3rem;
    }

    .techniquesContainer .techs p {
        width: 100%;
        font-size: 1.2rem;
    }

    .techniquesContainer .techs #modalButton {
        width: 100%;
    }

    #staticBackdrop .modal-content {
        width: 100%;
    }
}