@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Tangerine&display=swap");
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.defaultContainer {
  height: 80vh;
}

button {
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 10rem;
  padding: 0.8rem;
  background-color: #9c3aca;
  color: #fff;
  transition: ease-in 300ms;
  font-weight: 600;
}
button:hover {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#staticBackdrop h1 {
  color: #fff;
  font-size: 2rem;
  text-shadow: 0px 0px 10px #000;
}

#staticBackdrop p {
  color: #fff;
  text-shadow: 0px 0px 10px #000;
}

@media (min-width: 320px) and (max-width: 990px) {
  .titleMenu {
    display: none;
  }
  .btnResponsiveMenu i {
    font-size: 3rem;
  }
  .aboutContainer {
    flex-direction: column;
    margin-top: 5rem;
    text-align: center;
  }
  .aboutContainer .textAbout p {
    width: 100%;
    text-align: justify;
  }
  .imgAbout {
    margin-top: 5rem;
  }
  .aboutContainer .imgAbout img {
    width: 28rem;
  }
  .techniquesContainer {
    text-align: center;
  }
  .techniquesContainer .techs h1 {
    font-size: 3rem;
  }
  .techniquesContainer .techs p {
    width: 100%;
    font-size: 1.2rem;
  }
  .techniquesContainer .techs #modalButton {
    width: 100%;
  }
  #staticBackdrop .modal-content {
    width: 100%;
  }
}
html {
  scroll-behavior: smooth;
}

.header {
  box-shadow: 0px 0px 30px #9c3aca;
  background-size: cover;
  background-position: center;
}
.header .titleHeader img {
  width: 8rem;
  margin-left: 20px;
}
.header .headerButton {
  border: none;
  width: 3.5rem;
}
.header #navbarMobileToggle {
  margin-left: 20px;
  margin-top: 10px;
  border-top: 2px solid purple;
}
.header #navbarMobileToggle ul li:hover {
  transform: scale(1.1);
  transition: ease-in 200ms;
}

main .bannerContainer {
  background-image: url("../images/banner-lash.jpg");
  background-position: center;
  background-size: cover;
}
main .aboutContainer {
  width: 100%;
  height: 100%;
}
main .textAbout h1 {
  font-size: 4rem;
  color: #9c3aca;
  font-family: "Tangerine", cursive;
}
main .textAbout p {
  width: 30rem;
  font-size: 0.9rem;
}
main .imgAbout img {
  width: 34rem;
}
main .techniquesContainer {
  background-image: url("../images/banner-lash1.jpg");
  background-position: center;
  background-size: cover;
}
main .techniquesContainer {
  color: #fff;
}
main .techniquesContainer h1 {
  font-size: 5rem;
  text-shadow: 0px 0px 10px #000;
}
main .techniquesContainer p {
  width: 40rem;
  text-shadow: 0px 0px 10px #000;
}
main #modalButton {
  border: none;
  width: 10rem;
  height: 2.5rem;
  background-color: #9c3aca;
  color: #fff;
  transition: ease-in 300ms;
  font-weight: 600;
}
main #modalButton:hover {
  background-color: #fff;
  color: #9c3aca;
}
main .modal-header {
  color: #fff;
}
main .modal-content {
  background: rgba(255, 255, 255, 0.35);
  width: 25rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
main .card button {
  width: 100%;
  background-color: transparent;
}
main .card1 {
  background-image: url("../images/tecnicas/brasileiro.jfif");
  background-size: cover;
  background-position: center;
}
main .card2 {
  background-image: url("../images/tecnicas/volume egipcio.jpg");
  background-size: cover;
  background-position: center;
}
main .card3 {
  background-image: url("../images/tecnicas/volume express.jpg");
  background-size: cover;
  background-position: center;
}

/*# sourceMappingURL=style.css.map */
